<%- include("partials/header") -%>
<!-- replace space to dash -->
<% const kebabCase = function(title) {
    return title.replace(/([a-z])([A-Z])/g, "$1-$2")
    .replace(/[\s_]+/g, '-')
    .toLowerCase();
} %>

<h1>Home</h1>
<p><%= content %> </p>

<% posts.forEach(function(post) { 
    const title = post.title    
    const link = kebabCase(title)
%>
<h1><%= title %></h1>
<p><%= post.content.substring(0,100) + "…" %>
  <a href="/posts/<%=link %>">read more</a>
</p>
<% }) %>



<%- include("partials/footer") -%>